.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  
  background-color: transparent;
}

.header {
  background-color: black;
  width: 100%;
  height:fit-content;
  display: flex;
  justify-content: space-around;
}

.d-inline-block.align-text-top {
  height: 150px;
  float: left;
  

}.container-fluid {
  height: 160px;
  background-color: black;
}

nav {
  top: -15px;
  color: white;
}


.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  font-size: 14px;
  padding: 5px;

}

.nav-link:hover {
  color: rgb(137, 167, 211);
  font-weight: 700;
}

h1 {
  font-size: 18px;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}

.HomeComponentText {
  max-width: 30%;
  margin: auto;
  font-size: 14px;
  text-align: center;
  padding-bottom: 100px;
}

.car-link-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.car-filter-link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.car-filter-link:hover {
  color: rgb(137, 167, 211);
  font-weight: 700;

}
.underline {
  height: 1px;
  background-color: rgb(180, 178, 178);
  width: 90%;
  margin: auto;
  margin-top: 5px;
}


.homepage-cars-section {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.homepage-cars-for-sale-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  
}
.main-car-container {
  position: relative;
  z-index: 10;
}
.BmwHomeImg {
  height: auto;
  width: 100%;
  opacity: 90%;
  

}

.BmwText {
  position: absolute;
  color: White;
  left: 5%;
  bottom: 10%;
  z-index: 0;
  display: flex;
  justify-content:space-between;
  width: 90%;
}

.bmwh2 {
  font-size: 20px;
  font-weight: 700;

}

.locationText {
  font-size: 11px;
  width: 180px;
  font-weight: 500;
}

.bmwh3 {
  font-size: 13px;
  width:30%;
  font-weight: 500;
}
.cars-container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  height: 550px;
  padding: 30px;
  margin: auto;
  justify-content: start;
}

.homepage-car-img {
  height: 80%;
  max-width: 550px;
  margin: auto;
  border-radius: 5px;
  object-fit: fill;
}

.homepage-car-text {
  width: 70%;
  text-align: left;
  font-size: 13px;
}

.homepageH2 {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.loadBtn {
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: rgb(247, 121, 4);
  border: none;
  margin: auto;
  margin-bottom: 50px;
}

.loadBtn:hover {
  background-color: rgba(226, 118, 16, 0.911);
}


.footer-img {
  position: relative;
  object-fit:cover;
  width: 100%;
  height: 500px;

  margin-bottom: 50px;
  
}
/* @media (max-width:565px) {
  img {
    height: 100px;
    width: 100px;

  }
} */